@import url('https://fonts.googleapis.com/css?family=Roboto:100');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100);
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=KoHo:200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Francois+One|Play');


@media (min-width: 1000px) {
    #removeWeb{
        display:none;
    }   
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;

    }

    .row {
    display: flex;
    }

    /* Create two equal columns that sits next to each other */
    .column {
    flex: 50%;
    /* margin: 2% */
    }



body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 30px;
    /* color: #ffffff; */
     
}

p {
    line-height: 30px;
}


#header {
    background-color: black;
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.70;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    /*Opacity end*/
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    padding: 0;
    margin: 0;
    z-index: 99999;
}
#header #header-content {
    text-align: center;
    padding: 0.5rem;
}

h2.header {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 0.75rem;
    display: inline-block;
    margin-left: 2rem;
    margin-right: 2rem;
    line-height: 0;
    text-transform: uppercase;
    letter-spacing: 2px;


}


div.main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1551334787-21e6bd3ab135?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #eeeeee;
}
 

div.title {
    /* position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;*/
    padding: 15rem 0 0 0; 
    text-align: center;
}

img.image-logo {
    height: 10rem;
}

h1.main-name {
    font-weight: 300;
    font-size: 4rem;
    line-height: 0;
    text-transform: uppercase;
}

h2.main-sub {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 100;
    font-size: 1.25rem;
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
    line-height: 0;
}

div.icons {
    /* position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto; */
    position: relative;
    padding: 3rem 0 0 0; 

    text-align: center;

}

i.icon {
    font-size: 2.5rem;
    margin-left: 2rem;
    margin-right: 2rem;

    transition:transform .3s ease-out;
}

i.icon:hover {
    transform: scale(1.1);
}

div.about{
    padding:0 20vw 6vw 20vw;
}


h1.about-title {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    border-left: 1px groove rgb(40, 40, 40);
    padding: 2rem 2rem 2rem 2rem;
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 300;
}

p.about-description {
    padding: 1rem 0rem 0rem 2rem;
}

div.about-profile {
    text-align: left;
    padding: 2rem 0rem 2rem 0rem;

}

img.about-profile {
    height: 375px;
}

div.background {
    background: rgb(40, 40, 40);
    color: #eeeeee;
    height: auto;
    padding:0 20vw 6vw 20vw;

}

h1.background-title {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    border-left: 2px groove #eeeeee;
    padding: 2rem 2rem 2rem 2rem;
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 300;

}

h1.background-subtitle {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 200%;
    /* padding: 1rem 0 1rem 0; */
}

p.background-description {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    /* padding: 1rem 0 1rem 0; */
}





