@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 1em;
    color: rgb(30, 30, 30);
    letter-spacing: 0px;
}



.container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.row {
    display: flex;
}

.column {
    width: 50%;
    padding: 1em;
}

.column-33 {
    width: 33.3333%;
    padding: 1em;
}

a {
    text-decoration: none;
    color: #eb2f06;
    font-weight: 100;
}
a:hover {
    color: rgb(30, 30, 30);
}

/* div.nav {
    z-index: 999;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    background-color: rgb(30, 30, 30, 0.9);
    width: 100%;
    padding: 1.25em;
    text-align: center;
} */

i.nav-icon {
    font-size: 2em;
    padding: 1vw 5vw;
}


h2.title {  
    font-size: 3.5em;
    text-align: center;  
    font-weight: 100;
    margin-bottom: 2em;
}

h3.subtitle {  
    text-align: left;
    font-size: 1.25em;
    font-weight: 100;
    margin-top: 2em;

}

div.head-socials {
    text-align: center  
}

div.about{
    text-align: left;
    padding: 3em 0 0 0;
}


.projects-list {
    text-align: center;
}

.projects-each {
    position: relative;
    width: 100%;
    margin: 2em 0 0 0; 
    text-align: left;
    display: inline-block;
}

.projects-title {
    font-size: 1em;

}

.project-title-link {
    text-decoration: none;
    /* color: rgb(40, 40, 40) */
}

.project-tech {
    border-left: 0.5px groove rgb(40, 40, 40);
    font-size: 0.75em;
    padding: 0 0 0 1em;
}

.projects-details {
    font-size: 0.9em;
}




.template {
    width: 100%;
    margin:  0 0 0;
    overflow: auto;
}
.template-title{
    font-size: 1em;
}
.template-date{
    font-size: 0.75em;
}

.template-detail {
    text-align: left;
    font-size: 0.75em;
    vertical-align: middle;
}





div.contact {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-top: 0.5px groove rgb(40, 40, 40);
    border-bottom: 0.5px groove rgb(40, 40, 40);
}

div.contact-content {
    text-align: center;
    padding: 1em;
}

p.contact-toptitle {
    text-align: center;
    font-size: 1em;

}

h3.contact-title {  
    font-size: 1.75em;
    font-weight: 100;
}

p.contact-subtitle {
    font-size: 1em;
}

div.contact-social {
    text-align: center;
}

i.icon {
    text-decoration: none;
    color: black;
    margin: 1.5em 3.5em;
    font-size: 1.5em;
}

/* SCHEDULE */

div.courses {
    text-align: left;
    line-height: 100%;
}

p.courses-title {
    font-size: 1.25em;
    text-align: left;
    display: block

}
p.courses{
    font-size: 1em;
}

mini {
    font-size: 0.75em;
    display: block
}

.tab-pane {
    padding: 1em;
}

div.work-header {
    text-align: left;
    margin-top: 2em;
}
h3.title {
    font-size: 2em;
    font-weight: 100;
    line-height: 250%;
}
p.subtitle{
    display: block
}

i.icon2 {
    font-size: 1.25em;
    padding: 0.5em 1em;
}




@media (max-width: 1000px) {
    #removeFromMobile {
        display: none
    }

    head {
        width: 100vw;
    }

    body {
        font-family: 'Nunito Sans', sans-serif;
        font-style: normal;
        font-weight: 100;
        font-size: 0.9em;
        color: rgb(30, 30, 30);
        letter-spacing: 0.25px;
    }
    .container {
        top: 0;
        left: 0;
        margin-left: 0;
        margin-right: 0;
        width: 100vw;
    }    
    .row {
        display: block;
        width: 90vw;
    }
    
    .column {
        flex: none;
        width: 90vw;
        padding: 1em;
    }    
    .column-33 {
        flex: none;
        width: 90vw;
        padding: 1em;
    }    
    i.nav-icon {
        font-size: 2em;
        padding: 1vw 5vw;    
    }
    
    
    h2.title {  
        font-size: 3.5em;
        text-align: center;  
        font-weight: 100;
    }
    
    h3.subtitle {  
        text-align: center;
        font-size: 1.25em;
        font-weight: 100;
    }
    
    div.head-socials {
        text-align: center  
    }
    
    div.about{
        text-align: left;
    }
    
    p.about-description {
        margin-left: auto;
        margin-right: auto;
    }
    
    .projects-list {
        text-align: center;
    }
    
    .projects-each {
        position: relative;
        width: 100%;
        margin: 2em 0 0 0; 
        text-align: left;
        display: inline-block;
    }
    
    .projects-title {
        font-size: 1em;
    
    }
    .tab-pane {
        padding: 2em;
    }
    
    
    .project-title-link {
        text-decoration: none;
        /* color: rgb(40, 40, 40) */
    }
    
    .project-tech {
        border-left: 0.5px groove rgb(40, 40, 40);
        font-size: 0.75em;
        padding: 0 0 0 1em;
    }
    
    .projects-details {
        font-size: 0.9em;
    }
    
    
    
    
    .template {
        width: 100%;
        margin:  0 0 0;
        overflow: auto;
    }
    .template-title{
        font-size: 1em;
    }
    .template-date{
        font-size: 0.75em;
    }
    
    .template-detail {
        text-align: left;
        font-size: 0.75em;
        vertical-align: middle;
    }
    
    
    
    
    
    div.contact {
        display: none;
        margin-left: 0;
        margin-right: 0;
        width: 100vw;
        border-top: 0.5px groove rgb(40, 40, 40);
        border-bottom: none;
    }
    
    div.contact-content {
        text-align: center;
        padding: 1em;
    }
    
    p.contact-toptitle {
        text-align: center;
        font-size: 1em;
    
    }
    
    h3.contact-title {  
        font-size: 1.75em;
        font-weight: 100;
    }
    
    p.contact-subtitle {
        font-size: 1em;
    }
    
    div.contact-social {
        text-align: center;
    }
    
    i.icon {
        text-decoration: none;
        color: black;
        margin: 1em 1em;
        font-size: 1.5em;
    }
    

}


