@import url('https://fonts.googleapis.com/css?family=Roboto:100');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100);
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=KoHo:200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Francois+One|Play');
@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900&display=swap');

@media (min-width: 1000px) {
    #removeWeb{
        display:none;
    }   
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;

    }

    .row {
    display: flex;
    }

    /* Create two equal columns that sits next to each other */
    .column {
    flex: 50%;
    /* margin: 2% */
    }

html {
    scroll-behavior: smooth;
    }
       


body {
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    line-height: 30px;
    /* color: #ffffff; */
     
}

p {
    line-height: 30px;
}


#header {
    background-color: black;
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
    /*Opacity end*/
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    padding: 0;
    margin: 0;
    z-index: 99999;
}
#header #header-content {
    text-align: center;
    padding: 0.5rem;
}

h2.header {
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    display: inline-block;
    margin-left: 2rem;
    margin-right: 2rem;
    line-height: 0;
    /* text-transform: unset; */
    letter-spacing: 2px;


}
.scroll:hover{
    color: rgb(40, 40, 40);
}
.scroll{
    position:absolute; 
    bottom:0; 
    right: 0;
    color: #eeeeee;
    text-decoration: none;
    margin: 1rem 1rem 1rem 1rem; 
    transition:transform 1s ease-out;
}


div.main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url("../images/2109.jpg") no-repeat center center fixed; 
    /* background: url(https://images.unsplash.com/photo-1551334787-21e6bd3ab135?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80) no-repeat center center fixed;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #eeeeee;
}
 

div.title {
    /* position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;*/
    padding: 12rem 0 0 0; 
    text-align: center;
}

img.image-logo {
    height: 10rem;
    transition:transform .3s ease-in-out;
    padding: 0.5rem;

}

img.image-logo:hover {
    transform: scale(1.05);
    background: col


}

h1.main-name {
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    font-size: 4rem;
    line-height: 0;
    text-transform: uppercase;
}

h2.main-sub {
    /* font-family: 'Alegreya Sans SC', sans-serif; */
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
    line-height: 0;
}

div.icons {
    /* position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto; */
    position: relative;
    padding: 3rem 0 0 0; 

    text-align: center;

}

i.icon {
    font-size: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;

    transition:transform .3s ease-out;
}

i.icon:hover {
    transform: scale(1.1);
}

div.about{
    padding:0 15vw 6vw 15vw;
}


h1.about-title {
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    /* border-left: 1px groove rgb(40, 40, 40); */
    padding: 2rem 2rem 2rem 2rem;
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 100;
    text-align: center;
}

p.about-description {
    padding: 1rem 0rem 0rem 2rem;
    text-align: center;

}

div.about-profile {
    text-align: left;
    padding: 2rem 0rem 2rem 0rem;

}

img.about-profile {
    height: 375px;
}

div.background {
    background: rgb(40, 40, 40);
    color: #eeeeee;
    height: auto;
    padding:0 15vw 6vw 15vw;

}

h1.background-title {
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Muli', sans-serif;
    text-transform: uppercase;
    /* border-left: 2px groove #eeeeee; */
    padding: 2rem 2rem 2rem 2rem;
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 300;
    text-align: center;

}

h1.background-subtitle {
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Muli', sans-serif;
    padding: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 4rem;
    /* padding: 1rem 0 1rem 0; */
}

p.background-description {
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Muli', sans-serif;

    font-weight: 300;
    /* padding: 1rem 0 1rem 0; */
}




.button {
    font-weight: 100;
        -webkit-box-align: center;
        align-items: center;
    border: 0.75px solid rgba(54, 162, 235);
    border-radius: 0.75rem;
    color: #eeeeee;
    background: rgba(54, 162, 235, 0);
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: inline-flex;
    display: -webkit-inline-flex;
    -ms-flex-align: center;
    margin: 0.5% !important;
    max-width: 100%;
    padding: 1rem 2.5rem 1rem 2.5rem;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
    outline: 0;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
  }




  button {
    position: relative;
    //display:block;
    height: 4rem;
    width: 16rem;
    margin: 10px 7px;
    padding: 1rem;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 3px;
    color: #eeeeee;
    border: 2px rgba(54, 162, 235) solid;
    border-radius: 0.5rem;
    text-transform: uppercase;
    outline: 0;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition:         0.4s ease-in;
    -o-transition:      0.4s ease-in;
    -ms-transition:     0.4s ease-in;
    -moz-transition:    0.4s ease-in;
    -webkit-transition: 0.4s ease-in;
  }
  
  .slide:after{
    content:"Resume";
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    text-align:center;
    -webkit-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
    color:#eeeeee;
  }
  
  .slide:before {
    content:"→";
    height:100%;
    width:100%;
    position:absolute;
    color:rgb(40, 40, 40);
    left:-100%;
    opacity: 0;
    -webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
  }
  
  .slide:hover{
    background:rgb(40, 40, 40);
  }
  
  .slide:hover:before{
    left:0;
    opacity:1;
    color:#eeeeee;
  }
  .slide:hover:after{
    left:100%;
    opacity:0;
  }