.sidebar {
    margin: 0;
    padding: 0;
    width: 20%;
    /* background-color: #f1f1f1; */
    position: fixed;
    height: 100%;
    overflow: auto;
    padding: 3em;
    background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
}

  div.content {
    margin-left: 20%;
    /* padding: 3em; */
    /* height: 1000px; */
}



  @media screen and (max-width: 1000px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .me {
        text-align: left
    }
  }
  

.first{
    position: relative;
    padding: 3em;
    flex: 50%;
    /* position: fixed; */
}
.second{
    padding: 3em;
    flex:50%;
}


/* FIRST SECTION */

.me {
    text-align: right;
}

.me-name {
    margin: 0 0 3em 0;
    padding: 0 0 0 0;
}
a.me-name-link {
    text-decoration: none;
    color: black;
}
.me-name h1 {
    font-size: 2em;   
}

.me-pages {
    position: relative;
    margin: 1em 0 1em 0;
}

.me-social {
    margin: 6em 0 0 0;
}
.me-social i.icon {
    margin: 0 0 0 0.75em;
    font-size: 1.25em;
}


/* SECOND SECTION */
 .background-languages{
    text-align: center;
    margin: 0 0 3em 0;
 }

 .background-languages i.languages {
    font-size: 4em;
    padding: 0.25em;
 }


/* THIRD SECTION  */

.projects {
}

.personal {
    margin: 0 0 3em 0;
}

.job {
    margin: 0 0 3em 0;
}


.projects-list {
    text-align: center;
}

.projects-each {
    width: 100%;
    border-bottom: 0.5px solid black;
    padding: 0.5em 0.5em 0.5em 1em;
    margin: 1em 0 1em 0;
    text-align: left;
    display: inline-block;
}

.projects-title {
    font-size: 1em;
}

.project-title-link {
    text-decoration: none;
    color: black;
}
.project-title-link:hover {
    color: blue;
}

.project-tech {
    border-left: 0.5px groove rgb(40, 40, 40);
    font-size: 0.75em;
    padding: 0 0 0 1em;
}

.projects-details {
    font-size: 0.9em;
}

#watermark {
 position:fixed;
 bottom:5px;
 right:5px;
 opacity:0.5;
 z-index:99;
 color:black;
}





/* PROGRESS JS */

.iconLan{
    font-size: 2.5em;
}

.label-logo {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.load {
    display: inline-block;
    position: relative;
    margin: 2em 1em 1em 1em;
    padding: 0;
    width: 5em;
    height: 3.5em;
}





label.language {
    -webkit-box-align: center;
    align-items: center;
border-left: 0.5px groove rgb(40, 40, 40);
overflow: auto;
/* border-radius: 5rem; */
color: rgb(40, 40, 40);
display: -ms-inline-flexbox;
display: -webkit-inline-box;
display: inline-flex;
display: -webkit-inline-flex;
-ms-flex-align: center;
margin: 0.5% !important;
max-width: 100%;
padding: 0 0 0 2em;
font-weight: 300;
font-size: 0.5rem;
text-decoration: none;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
    user-select: none;
}

div.viewResume-container {
    text-align: center;
}
.viewResume {

border: 0.5px groove rgb(40, 40, 40);
overflow: auto;
border-radius: 1rem;
color: rgb(40, 40, 40);
display: -ms-inline-flexbox;
display: -webkit-inline-box;
display: inline-flex;
display: -webkit-inline-flex;
-ms-flex-align: center;
margin: 0.5% !important;
max-width: 100%;
padding: 0.5em 2em 0.5em 2em;
/* font-weight: 300; */
text-decoration: none;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
    user-select: none;
}


.template {
    width: 100%;
    padding: 2em 2em 0 2em;
    overflow: auto;
}
.template-title{
    text-align: center;
    font-size: 1em;
}
.template-date{
    text-align: center;
    font-size: 0.75em;
}

.leftside {
    text-align: left;
    border-bottom: 0.5px groove rgb(40, 40, 40);
}
.template-detail {
    text-align: left;
    font-size: 0.75em;
    display: inline-block;
    vertical-align: middle;

}








.row2{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;

}
.column2{
    flex: 10%;
    padding: 0 4px;
}
img.temp {
    width: 100%;
    margin-top: 8px;
    vertical-align: middle;
}