@import url('https://fonts.googleapis.com/css?family=Roboto:100');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=KoHo:200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Francois+One|Play');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&subset=hebrew,latin-ext,vietnamese');

header{
    background: rgb(40, 40, 40);
    color: #EEEEEE;
    /* padding: 15px; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    .row {
    display: flex;
    }

    /* Create two equal columns that sits next to each other */
    .column {
    flex: 50%;
    /* margin: 2% */
    }

body {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: rgb(40, 40, 40);
}

div.resume-main {
    background: #EEEEEE;
}

p.resume-header-detail a {
    text-decoration: none;
    transition: all .2s ease-in-out;
    color: #EEEEEE;
}

p.resume-header-detail a:hover {
    color: rgb(50, 50, 50);
}

a {
    text-decoration: none;
    transition: all .2s ease-in-out;
    color: rgb(40, 40, 40);
}

a:hover {
    color: rgb(50, 50, 50);
}

h1.resume-header {
    font-size: 2.5em; 
    letter-spacing: 3.5px;
    text-transform: uppercase;
    font-weight: 300;
    padding: 8px;

}


p.resume-header {
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-weight: 100;
    padding: 8px;
}

p.resume-header-detail{
    font-size: 1em;
    padding: 6px;
}

i.icon {
    padding: 0 10px 0 0;
}

div.current{
    text-align: center;
    /* font-size: 1.25em; */
    padding-top: 1.75%;
    padding-bottom: 2.5%;

    /* border-top: 1px solid black; */

}

div.current h1 {
    font-size: 1em; 
    letter-spacing: 7px;
    text-transform: uppercase;
    font-weight: 300;
    padding-bottom: 1.5%;
}

div.resume-section {
    padding: 4% 0% 4% 0%;
}

h1.resume-section-title {
    font-size: 1.75em; 
    letter-spacing: 3.5px;
    text-transform: uppercase;
    font-weight: 300;
    padding: 0 0 1% 0;
}

div.resume-subsection {
    padding: 4% 0 0 4%;
}

div.resume-subsection-titlesection {
    border-left: 1px groove rgb(40, 40, 40);
    padding: 1% 1% 1% 4%;
}

h2.resume-subsection-title {
    font-size: 1em; 
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
    padding: 0 0 0.5% 0;

}

p.resume-subsection-title {
    font-size: 1em; 
    font-weight: 100;
    letter-spacing: 0.5px;
}

p.resume-subsection-description {
    padding: 1% 1% 1% 4%;
}

div.language {
    padding: 3% 0 0 3.5%;
}


label.language {
        -webkit-box-align: center;
        align-items: center;
    border: 0.5px groove rgb(40, 40, 40);
    border-radius: .2em;
    color: rgb(40, 40, 40);
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: inline-flex;
    display: -webkit-inline-flex;
    -ms-flex-align: center;
    margin: 0.5% !important;
    max-width: 100%;
    padding: 1% 2% 1% 2%;
    font-size: 0.9em;
    font-weight: 300;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
}

