@import url('https://fonts.googleapis.com/css?family=Roboto:100');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=KoHo:200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Francois+One|Play');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&subset=hebrew,latin-ext,vietnamese');

header{
    background: #EEEEEE;
    /* padding: 15px; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    .row {
    display: flex;
    }

    /* Create two equal columns that sits next to each other */
    .column {
    flex: 50%;
    /* padding: %; */
    /* margin: 2% */
    }

body {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    /* color: #ffffff; */
}

h1.resume-header {
    font-size: 2.5em; 
    letter-spacing: 3.5px;
    text-transform: uppercase;
    font-weight: 300;
    padding: 8px;

}


p.resume-header {
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-weight: 100;
    padding: 8px;
}

p.resume-header-detail{
    font-size: 1em;
    padding: 6px;
}

i.icon {
    padding-right:8px;

}

div.current{
    background: #EEEEEE;
    text-align: center;
    /* font-size: 1.25em; */
    padding-top: 1.25%;
    padding-bottom: 2.5%;
}

div.current-role {
	transition: all .2s ease-in-out;
}
div.current-role:hover {
	transform: scale(1.04);
}

div.current h1 {
    font-size: 1em; 
    letter-spacing: 7px;
    text-transform: uppercase;
    font-weight: 300;
    padding-bottom: 1.5%;
}

div.resume-section {
    padding: 4% 15% 4% 15%;
}

h1.resume-section-title {
    font-size: 1.75em; 
    letter-spacing: 3.5px;
    text-transform: uppercase;
    font-weight: 300;
    padding: 0 0 1% 0;
}

div.resume-subsection {
    padding: 4% 0 0 4%;
}

div.resume-subsection-titlesection {
    border-left: 1px groove black;
    padding: 1% 1% 1% 4%;
}

h2.resume-subsection-title {
    font-size: 1em; 
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;

}

p.resume-subsection-title {
    font-size: 1em; 
    font-weight: 100;
    letter-spacing: 0.5px;
}

p.resume-subsection-description {
    padding: 1% 1% 1% 4%;
}