@import url('https://fonts.googleapis.com/css?family=Roboto:100');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=KoHo:200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Francois+One|Play');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&subset=hebrew,latin-ext,vietnamese');

header{
    background: #EEEEEE;
    /* padding: 15px; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    .row {
    display: flex;
    }

    /* Create two equal columns that sits next to each other */
    .column {
    flex: 50%;
    /* padding: %; */
    /* margin: 2% */
    }

body {
    font-family: "Avenir Next"; 
    font-weight: 100;
    /* color: #ffffff; */
}

h1.resume-header {
    font-size: 2.5em; 
    font-family: 'Lato', sans-serif;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    font-weight: 300;
    padding: 8px;

}

p.resume-header {
    font-family: 'Lato', sans-serif;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-weight: 100;
    padding: 8px;
}

p.resume-header-detail{
    font-size: 1em;
    padding: 6px;
}

i.icon {
    padding-right:8px;

}

div.current{
    text-align: center;
    font-size: 10px;

}